<% if obj.errors.any? %>
  <article class="message is-warning">
    <div class="message-header">
      <h4 class="alert-heading">The following errors prevented the <%= obj.class.name.downcase %> from being saved</h4>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>